.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 16px;
    box-shadow: 0 1px 3px -2px black;
    background-color: white;
}

.nav_logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav_logo > p{
    color: #171717;
    font-size: 38px;
    font-weight: 600;
}

.nav_menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
    color: #626262;
    font-size: 20px;
    font-weight: 500;
}
.nav_menu > li > a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    cursor: pointer;
    gap: 3px;
    color: #626262;

}

.nav_menu > li > a > hr{
    width: 90%;
    height: 0px;
    color: #FF4141;
}

.nav_btn_cart{
    display: flex;
    align-items: center;
    gap: 45px;
}
.nav_btn_cart > a > button{
    width: 150px;
    height: 50px;
    background-color: white;
    color: #515151;
    outline: none;
    border: 1px solid #7a7a7a;
    border-radius: 75px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    text-align: center;
}
.nav_btn_cart > a > button:active{
    background-color: #f3f3f3;
}

.nav_cart_count{
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -35px;
    margin-left: -55px;
    border-radius: 11px;
    color: white;
    background-color: red;
    font-size: 14px;

}