.related_products {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: auto;
  width: 100%;
  height: auto;
  margin-bottom: 2%;
}

.related_products > h1 {
  color: #171717;
  font-size: 50px;
  font-weight: 600;
}

.related_products > hr {
  width: 500px;
  height: 6px;
  border-radius: 10px;
  background: #252525;
  margin: auto;
}

.related_products_item {
  margin-top: 50px;
  display: flex;
  justify-content: flex-start;
  height: auto;
  gap: 30px;
  /* overflow-x: scroll;
  overflow-y: hidden; */
  margin: 0 5px;
}
