.product_display{
    display: flex;
    margin: 0 80px;
}

.product_display_left{
    display: flex;
    gap: 17px;
}

.product_display_img_list{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.product_display_img_list > img{
    height: 163px;
}

.product_display_main_img{
    width: 600px;
    height: 600px;
}

.product_display_right{
    margin: 0 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.product_display_right > h1{
    color: #3d3d3d;
    font-size: 40px;
    font-weight: 700;
}

.product_display_right_star{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 13px;
    gap: 5px;
    color: #1c1c1c;
    font-size: 16px;
}

.product_display_right_prices{
    display: flex;
    margin: 40px 0;
    gap: 30px;
    font-size: 24px;
    font-weight: 700;
}

.product_display_price_old{
    color: #818181;
    text-decoration: line-through;
}

.product_display_price_new{
    color: #ff4141;
}

.product_display_right_size > h1{
    margin-right: 55px;
    color: #656565;
    font-size: 24px;
    font-weight: 600;
    text-align: left;
    margin-top: 10px;
}

.product_display_right_sizes{
    display: flex;
    margin: 30px 0;
    gap: 20px;
}

.product_display_right_sizes > div{
    padding: 18px 24px;
    background-color: #fbfbfb;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    cursor: pointer;
}

.product_display_right > button{
    padding: 20px 40px;
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background-color: #ff4141;
    margin-bottom: 40px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 10px;
}

.product_display_right_category{
    margin-right: 10px;
}

.product_display_right_category > span{
    font-weight: 600;
}


